@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
}

svg.star-svg {
	display: inline;
}

.mantine-Button-filled {
	-webkit-appearance: button;
	background-color: teal;
	background-image: none;
}
